@charset "UTF-8";
/* CSS Document */
body{
	font-family: "proxima-nova",sans-serif; 
	max-width: 1920px;
}

.video-container {
    position: relative;
    background-color: #1b768b;
}
video  {
 	height: auto;
  	vertical-align: middle;
  	width: 100%;
 	opacity: 0.3;
}

.overlay-head {
    margin-top: 100px;
	font-size: 40px;
}
.overlay-img {
    margin-top: 130px;
	width: 100px;
}

.overlay-txt {
    margin: 410px auto;
    font-size: 18px;
    text-align: center;
 }
.newspaper {
	column-count: 2;
}
.overlay-citat {
    margin: 620px auto;
    font-size: 22px;
    text-align: center;
 }
.overlayall{
	height: auto;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    color: white;
}
.btn{
	margin: 700px auto 0px;
    height: 30px;
	width: 110px;
    background-color: #B86427;
    color: white;
    font-size: 22px;
    padding: 12px;
    text-align: center;
	justify-content: center;
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;
  	display: flex;
	border-radius: 8px;
}

